// colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$purplish-blue: hsl(245, 83%, 68%);
$white: hsl(0, 0%, 100%);

// font sizes and weights
$base-font-size: 16px;
$font-size-large: 28px;
$font-size-small: 15px;
$font-size-smaller: 14px;

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// line heights and spacing
$base-line-heigth: 26px;

$base-letter-spacing: 0.22px;

// margin, padding and gap
$base-margin: 48px;
$base-padding: 24px;
$base-gap: 4px;

// border
$base-border-radius: 20px;
$border-radius-small: 12px;
